<!DOCTYPE html>

<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|PT+Sans|Quicksand&display=swap" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet">
    <title>Cheap Thrills</title>
</head>

<body>

    </head>

    <body
        style="background-color: #d6d6d6;height: 100%; background-position:center; background-repeat: no-repeat; font-family: 'Oxygen', sans-serif;">
        <div class="header">
            <nav class="navbar navbar-dark" style="background-color: #5d8ec8">
                <span class="headspan">
                    <a class="navbar-brand" href="#" style="padding-left: 30px;color:#333333">
                        <img src="/static/images/logo2.png" width="30" height="30" class="d-inline-block align-top"
                            alt="applogo" style="width: 70px; height: 36px;">
                        <b>.com</b>
                    </a>
                </span>
            </nav>
        </div>
        {{{body}}}
        <div class="footer"
            style="background-color: #b5d7ff;position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;"> ©
            2019 Copyright:
            <a href="https://entertaining--apps.herokuapp.com/"> CheapThrills.com</a>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/static/JS/script.js"></script>
    </body>

</html>