<!DOCTYPE html>

<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|PT+Sans|Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88ed06a38a.js" crossorigin="anonymous"></script>
    <meta property="og:image" content="{{{img}}}">
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
    <title>Cheap Thrills</title>
</head>



</head>

<body
    style="background-image:url('/static/images/main1.jpg');height: 100%;background-size:cover; background-repeat: no-repeat; font-family: 'Oxygen', sans-serif;">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <div class="header">
        <nav class="navbar navbar-dark" style="background-color: #008982;">
            <span class="headspan">
                <a class="navbar-brand" href="/" style="padding-left: 30px;color:#333333">
                    <img src="/static/images/logo2.png" width="30" height="30" class="d-inline-block align-top"
                        alt="applogo" style="width: 70px; height: 36px;">
                    <b style="font-family:Permanent Marker;">.com</b>
                </a>
            </span>

            <a href="/share">
                <img src="/static/images/share.png" alt="Share" width="35" height="35">
            </a>
        </nav>
    </div>
    {{{body}}}
    <div class="footer"
        style="background-color: #008982;position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;font-size:medium;height: 40px;color:#333333">
        ©
        2019 Copyright:CheapThrills.com
    </div>

</body>
<script src="/static/JS/script.js"></script>
<script src="/static/JS/mistakeApp.js"></script>

</html>