<body class="appTray"> 
        <center>
        
            <div class="header">
                <nav class="navbar navbar-dark bg-dark">
                    <span class="headspan">
                        <a class="navbar-brand" href="#">
                            <img src="/static/images/applogoimg.jpg" width="30" height="30" class="d-inline-block align-top" alt="applogo">
                            CheapThrills.com
                        </a>
                    </span>
                </nav>
            </div>

            <br>
            <br>
            <br>

            <div class="welcome mt-2">
                <p>We Welcome you to our apps created exclusively for our users </p>
            </div>
            <br>
            <div class="ad">
                <!-- advertisement2 -->
            </div>
            <br>
            <div class="quotepage">
                    <div class="app1">
                      <img src="static/images/motivationimg.jpg" class="card-img-top motivation" alt="motivational image">
                        <div>
                            <h5>To Cheer You Up</h5>
                            <span class="motivateLine">Know the  changing quote  you need to hear NOW </span>
                            <br><br>
                            <form action="/apps/quotes" style="display:inline;">
                              <button class="btn btn-primary" style="text-align: center;">Click here!</button>
                            </form>
                          </div>
                      </div>
                    <div class="app2">
                      <img src="static/images/pubgimg.jpg" class="card-img-top pubg" alt="pubg image">
                        <h5>PubG Quiz</h5>
                        <span class="pubgLine"> pubg's  khiladi???  Play this pubg quiz Now</span>
                        <br><br>
                        <form action="/apps/pubgQuiz" style="display:inline;">
                          <button class="btn btn-primary" style="text-align: center;">Play now!</button>
                    </form>
                      </div>
                    </div>

                <br><br>
                  <div class="advert">
                          <p class="ad"></p>
                          
                        </div>
                        <div class="advert">
                          <p class="ad"></p>
                      </div>
        </center>
    </body>