<body class="appTray" > 
        
           
            
<center>
            <br>
            <br>
            <br>
            

            <div class="welcome mt-2">
                
            </div>
            <br>
            <div class="ad">
                <!-- advertisement2 -->
            </div>
            <br>
            <div class="quotepage" style="width: 450px;">
              <h4>Our apps:</h4>
                    <form  type='submit' action="/apps/quotes">
                    <div class="app1 ">
                    <button style="background-image: url('/static/images/motiv.jpg');width: 100%;
    height: 230px;
    border: none;
    background-size: contain;"></button>
                          </div>
                      </form>

                      <form type='submit' action="/apps/pubgQuiz">
                      
                    <div class="app2">
                      <button style="background-image: url('/static/images/quizimg.jpeg');width: 100%;
    height: 230px;
    border: none;
    background-size: contain;">
                      </button>
                    </div>
                    
                    </form>

</center>
                <br><br>
                  <div class="advert">
                          <p class="ad"></p>
                          
                        </div>
                        <div class="advert">
                          <p class="ad"></p>
                      </div>
                      
        
    </body>