<body class="appTray"> 
        <center>
        
            <div class="header">
                <nav class="navbar navbar-dark bg-dark">
                    <span class="headspan">
                        <a class="navbar-brand" href="#">
                            <img src="/static/images/applogoimg.jpg" width="30" height="30" class="d-inline-block align-top" alt="applogo">
                            CheapThrills.com
                        </a>
                    </span>
                </nav>
            </div>

            <br>
            <br>
            <br>

            <div class="welcome mt-2">
                <p>We Welcome you to our apps created exclusively for our users </p>
            </div>
            <br>
            <div class="ad">
                <!-- advertisement2 -->
            </div>
            <br>
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
            <div class="quotepage"><div class="card-deck">
                    <div class="card one">
                      <img src="/static/images/motivationimg.jpg" class="card-img-top motivation" alt="motivational image">
                      <div class="card-body">
                            <h5 class="card-title">To Cheer You Up</h5>
                            <p class="card-text"><span class="motivateLine"><p>Know the <span class="span">life changing quote</span> you need to hear <span1 class="span1">NOW</span1> </p></span></p>
                            
=======
=======
>>>>>>> Stashed changes
            <div class="quotepage">
                    <div class="app1">
                      <img src="static/images/motivationimg.jpg" class="card-img-top motivation" alt="motivational image">
                        <div>
                            <h5>To Cheer You Up</h5>
                            <span class="motivateLine">Know the  changing quote  you need to hear NOW </span>
                            <br><br>
                            <form action="/apps/quotes" style="display:inline;">
                              <button class="btn btn-primary" style="text-align: center;">Click here!</button>
                            </form>
                          </div>
>>>>>>> Stashed changes
                      </div>
<<<<<<< Updated upstream
=======
            <div class="quotepage" style="width: 450px;margin: -30px 0px 0px 4px;padding-right: 4px;">
              
              <a href="/apps/quotes">
                    
                    
                    
                  <img src="/static/images/motiv.jpg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
              <a href="/apps/pubgQuiz">
                    
                    
                    
                  <img src="/static/images/quizimg.jpeg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/zodiacApp">
                    
                    
                    
                  <img src="/static/images/zodiac.jpg" alt="Zodiac" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/name">
                    
                    
                    
                  <img src="/static/images/name.jpg" alt="Names" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/biggestMistake">
<<<<<<< Updated upstream
=======


                  <img src="/static/images/motiv.jpg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
              <a href="/apps/pubgQuiz">
                    
                    
                    
                  <img src="/static/images/quizimg.jpeg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/zodiacApp">
                    
                    
>>>>>>> Stashed changes
                    
                    
<<<<<<< Updated upstream
>>>>>>> Stashed changes
                    
<<<<<<< Updated upstream
                    <div class="card">
                      <img src="/static/images/pubgimg.jpg" class="card-img-top pubg" alt="pubg image">
                      <div class="card-body">
                        <h5 class="card-title">PubG Quiz</h5>
                        <p class="card-text"><span class="pubgLine"><p> pubg's  khiladi??? <span class="span2">Play</span> this pubg quiz Now </p></span></p>
                        
=======
=======
>>>>>>> Stashed changes
                    <div class="app2">
                      <img src="static/images/pubgimg.jpg" class="card-img-top pubg" alt="pubg image">
                        <h5>PubG Quiz</h5>
                        <span class="pubgLine"> pubg's  khiladi???  Play this pubg quiz Now</span>
                        <br><br>
                        <form action="/apps/pubgQuiz" style="display:inline;">
                          <button class="btn btn-primary" style="text-align: center;">Play now!</button>
                    </form>
>>>>>>> Stashed changes
                      </div>
                    </div>
=======
                    
                    
                  <img src="/static/images/name.jpg" alt="Names" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/biggestMistake">
                    
                    
                    
                  <img src="/static/images/mistake.jpg" alt="Names" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      
>>>>>>> Stashed changes

                <br><br>
                  <div class="advert">
                          <p class="ad"></p>
                          
                        </div>
                        <div class="advert">
                          <p class="ad"></p>
                      </div>
        </center>
    </body>