<body class="appTray" > 
        
           
            
<center>
            <br>
            <br>
            <br>
            

            <div class="welcome mt-2">
                
            </div>
            <br>
            <div class="ad">
                <!-- advertisement2 -->
            </div>
            <br>
            <div class="quotepage" style="width: 450px;margin: -30px 0px 0px 4px;padding-right: 4px;">
              
              <a href="/apps/quotes">
                      </div>
            <div class="quotepage" style="width: 450px;margin: -30px 0px 0px 4px;padding-right: 4px;">
              
              <a href="/apps/quotes">
                    
                    
                    
                  <img src="/static/images/motiv.jpg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
              <a href="/apps/pubgQuiz">
                    
                    
                    
                  <img src="/static/images/quizimg.jpeg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/zodiacApp">
                    
                    
                    
                  <img src="/static/images/zodiac.jpg" alt="Zodiac" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/name">
                    
                    
                    
                  <img src="/static/images/name.jpg" alt="Names" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/biggestMistake">

                      
                  <img src="/static/images/motiv.jpg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
              <a href="/apps/pubgQuiz">
                    
                    
                    
                  <img src="/static/images/quizimg.jpeg" alt="Motivation" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/zodiacApp">
                    
                    
                    
                  <img src="/static/images/zodiac.jpg" alt="Zodiac" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/name">
                    
                    
                    
                  <img src="/static/images/name.jpg" alt="Names" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      <a href="/apps/mistake">
                    
                    
                    
                  <img src="/static/images/mistake.jpg" alt="Names" style="width: 100%;
                  height: 230px;
                  border: none;
                  background-size: contain;border-radius:4px">
                         
                      </a><br><br>
                      

</center>
                <br><br>
                  <div class="advert">
                          <p class="ad"></p>
                          
                        </div>
                        <div class="advert">
                          <p class="ad"></p>
                      </div>
                      
        
    </body>