<body class="home"> 
        <center>
            <div class="header">
                <nav class="navbar navbar-light bg-light">
                    <span class="headspan">
                        <a class="navbar-brand" href="#">
                        <img src="applogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="applogo">
                        CheapThrills.com
                        </a>
                    </span>
                </nav>
            </div>      

            <br>
 
            <div class="tohomepage">
                <div class="intro mb-2">
                    <h4>Hey you're here</h4>

                    <br>

                    <p>
                    Like to have fun ? 
                    <br>
                    Play our newest games now
                    <br>
                    and have lots of fun!!!
                    </p> 
                </div>
            </div>
            <div class="quizpage">
                <div class="playbtn">
                    <button type="button" class="play mb-2"> Play Now</button>
                </div>
            </div>
            <div class="ad mb-2">
            <!-- advertisement -->
            </div>

            <div class="quizpage">
                <div class="homeimage mb-2">
                    <img src="homeimage.jpg" width="60%">
                </div>
            </div>
            <br>
        
            <div class="footer">
                <p>
                Terms and conditions · Privacy · Imprint · Press · Feedback · Jobs · Become a partner<br>


                Disclaimer: All content is provided for fun and entertainment purposes only<br>


                This app uses data and contents only if they are publicly available or with the consent of the users. We kindly ask you to use the app only, if other users will not be affected adversely.
                </p>
            </div>
        </center>
    </body>