
<div class= "conatiner">
  <br><br><br><br>
  <div class = "row"  >
    <div class = "col-md-6 my-4 w-75 h-75 shadow-lg p-3 mb-4 m-5 pb-5 rounded mx-auto" style="background-color: #0beef9;
background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);">
  <h1 style="margin-top: 50px;">Authentication required....</h1>
  <p>To login using facebook:</p>
  <form action="/login"><button class="btn btn-dark"><i class="fab fa-facebook-f "></i>&nbsp;&nbsp; Login</button></form>
</div>
</div>
</div>