<div class="jumbotron" style="background-image:url('/static/images/fb.jpg');">
  <h1 style="margin-top: 50px;">Authentication required....</h1>
  <p>To login using facebook:</p>
  <form action="/login"><button class="btn btn-dark"><i class="fab fa-facebook-f "></i>&nbsp;&nbsp; Login</button></form>
  
</div>