<body class="motive">
        <center>
            <div class="header">
                 <nav class="navbar navbar-light bg-light">
                    <span class="headspan">
                        <a class="navbar-brand" href="#">
                            <img src="applogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="applogo">
                            CheapThrills.com
                        </a>
                    </span>
                </nav>
            </div> 
            <br>

            <div class="ad">
                <!-- advertisement -->
            </div>

             <br>
            <div class="apphead">
                <div class="mb-1 mt-5">
                    <span class="span7"> Don't miss this out</span>
                </div>
                <div class="mb-1"> 
                     <span class="span8">life changing quote you need to hear <span class="span9">NOW</span> is  </span>
                </div>
                <div class="mb-1">
                    <span >
                        <input type="button" class="btn btn-primary" value="Share Now"> </input>
                    </span>
                </div>
            </div>
            <br>

            <div class="quote">
                <!-- quote for you (text)-->
                <!-- quote -->
            </div>
            <br>
            <div class="share">
                <div class="mb-1">
                    <span class="span10">Share it with your friends</span>
                </div>
                <div class="mb-1">
                    <input type="button" class="btn btn-primary" value="Share Now"> </input>
                </div>
            </div>
        </center>
    </body>