<div class="row" style="display:inline-block">
    <div class="col">
        {{#each name}}
        <p>{{this}}</p>
        {{/each}}
    </div>
</div>
<div class="row" style="display:inline-block">
    <div class="col">
        {{#each result}}
        <p>{{this}}</p>
        {{/each}}
    </div>
</div>