<body class="nameApp">
    <center>

        <br>

        <div class="ad">
            <!-- advertisement -->
        </div>

        <br>
        <div class="first" style="margin-bottom: 5px;background-color: #a8a8a887;">
            <div class="mb-1">
                <span class="span7"> Don't miss this out</span>
            </div>
            <div class="mb-1">
                <span class="span8 d-block">Do you want to try any other name? Click the button below!</span>
                <button type="button" class="btn btn-primary" id="new_name">Try it!</button>
            </div>
            <div class="d-none" id="form">
                <form method='get' action="/apps/name">
                    <span>
                        <input type="text" name="newName" class="mr-3" required>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </span>
                </form>
            </div>
        </div>
        <br>

        <div class="result pt-4" id="tables" style="font-family: oxygen;">

            <h1 class="text-center">Hey, {{this.name}}</h1>
            <p style="text-size:30;">Here are the words which best discribes you</p>
            <hr style="height:5px;">
            <table class="table table-borderless text-white">
                <tbody class="ml-5">
                    {{#each output}}
                    <tr class="mx-auto">
                        <th scope="row">
                            <h1 class="float-right text-uppercase">{{this.char}} -</h1>
                        </th>
                        <td scope="row" class="float-left">{{this.adj}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <br>
        </div>
        <div class="second" style="margin-bottom: 80px;margin-top:25px ;background-color: #a8a8a887;">
            <div class="mb-1">
                <span class="span10">Share it with your friends</span>
            </div>
            {{#if frame}}
                {{{frame}}}
            {{/if}}
        </div>
    </center>
</body>

<style>
    td {
        padding-top: 5px;
    }

    .result {
        color: white;
        height: 100%;
        background: url("/static/images/namebk.jpg")no-repeat;
        background-size: cover;
        background-position: center;
    }

    #tables {
        margin: auto;
        color: white;
    }

    input {
        padding: 4px;
    }
</style>