<body class="pubgquiz">
        <center>
            <div class="header">
                <nav class="navbar navbar-dark bg-dark">
                    <span class="headspan">
                        <a class="navbar-brand" href="#">
                            <img src="/static/images/applogoimg.jpg" width="30" height="30" class="d-inline-block align-top" alt="applogo">
                            CheapThrills.com
                        </a>
                    </span>
                </nav>
            </div> 

            <br>

            <div class="ad">
                <!--  ad -->
            </div>

            <br>

            <div class="share">
                <div class="mb-2">
                    <span class="span3"> Our site welcomes the khiladi of pubg  </span>
                </div>
                <div class="mb-2">
                    <span class="span3">enjoy playing this pubg quiz  </span>
                </div>
                <div class="mb-2">
                    <span> <input type="button" class="btn btn-primary " value="Share Now"> </input> </span>
                </div>
            </div>

            <br>

            <div class="pubgapp">
                <!-- quiz for you -->
                <!-- quiz question 
                <br>
                options
                <br> -->
            </div>

            <br>
<!-- 
            <div class="result mb-2">
                your score result
                <span class="span4"> Your score is </span>
            </div> -->

            <br>

            <div class="share">
                <div class="mb-2">
                    <span class="span5"> Don't keep all the fun to yourself
                </div>
                <div class="mb-2">
                        <span class="span6">share this with your frnds</span> 
                    </span>
                </div>
                <div class="mb-2">
                    <input type="button" class="btn btn-primary" value="Share Now"> </input>
                </div>
            </div>
        </center>
    </body>