<body>
        <center>
           
            <br>

            <div class="ad">
                <!-- advertisement -->
            </div>

            <br>
            <div class="first" style="margin-bottom: 10px;background-color: #a8a8a887;">
                <div class="mb-1">
                    <span class="span7"> Don't miss this out</span>
                </div>
                <div class="mb-1"> 
                     <span class="span8">life changing quote you need to hear <span class="span7">NOW</span> is  </span>
                </div>
                <div class="mb-1">
                    
                   
                        <button id="change" class="btn btn-primary">Get another Quote</button>
                    
                    
                </div>
            </div>
            <br>

            <div class="quote" id='quote' style="background-image: url('/static/images/quote.jpg');font-family: caveat brush;
    color: #310505;">
                
                {{quote}}
            </div>
            <br>
            <div class="second" style="margin-bottom:80px ;margin-top:15px;background-color: #a8a8a887; ">
                <div class="mb-1">
                    <span class="span7">Share it with your friends</span>
                </div>
                <div class="mb-1">
                    <form action="<to the route>" method='get'>
                    <button type="submit" class="btn btn-primary">Share Now</button>
                </form>
                </div>
            </div>
        </center>
        
    </body>