<body>
        <center>
           
            <br>

            <div class="ad">
                <!-- advertisement -->
            </div>

            <br>
            <div class="first" style="margin-bottom: 10px;background-color: #a8a8a887;width:50%">
                <div class="mb-1">
                  
                        <button id="change" class="btn btn-primary">Get Quote</button>
                    
                </div>
                <div class="mb-1">
                    <span class="span7"> Don't miss this out</span>
                </div>
                <div class="mb-1"> 
                     <span class="span8">Quote you need to hear is  </span>
                </div>
                
            </div>
            <br>

            <div class="quote" id='quote' style="background-image: url('/static/images/quote.jpg');font-family: caveat brush;
    color: #310505;">
                
                {{quote}}
            </div>
            <br>
            <div class="second" style="margin-bottom:80px ;margin-top:15px;background-color: #a8a8a887;width:50% ">
                <div class="mb-1">
                    <span class="span7">Share it with your friends</span>
                </div>
                <div class="mb-1">
                    {{{iframe}}}
                </form>
                </div>
            </div>
        </center>
        
    </body>