<body class="zodiacApp">
        <center>

             <br><br>
            <div class="ad">
                <!--  ad -->
             <div div class="container my-5 w-75 h-75 shadow-lg p-4 mb-4 m-5 pb-5 rounded mx-auto" 
                style="background-image: linear-gradient(to right, #000428, #004e92); font-family: cursive;">
                <br><br>
                        <div class="row justify-content-center">
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Aries" style = "text-decoration: none; !important">  
                            <img src="/static/images/aries.png" alt="Aries" style="width: 50px; height: 50px;">
                            <br><small style="color: #fff;">Aries</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Taurus" style = "text-decoration: none; !important">  
                            <img src="/static/images/taurus.png" alt="Taurus" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Taurus</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Gemini" style = "text-decoration: none; !important">  
                            <img src="/static/images/gemini.png" alt="Gemini" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Gemini</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Cancer" style = "text-decoration: none; !important">  
                            <img src="/static/images/cancer.png" alt="Cancer" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Cancer</small>
                            </a>
                            </div>
                        </div> 
                        <br><br>  

                        <div class="row justify-content-center">
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Leo" style = "text-decoration: none; !important">  
                            <img src="/static/images/leo.png" alt="Leo" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Leo</small>
                            </a>
                            </div>
                             <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Virgo" style = "text-decoration: none; !important">  
                            <img src="/static/images/virgo.png" alt="Virgo" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Virgo</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Libra" style = "text-decoration: none; !important">  
                            <img src="/static/images/Libra.png" alt="Libra" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Libra</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Scorpio" style = "text-decoration: none; !important">  
                            <img src="/static/images/scorpio.png" alt="Scorpio" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Scorpio</small>
                            </a>
                            </div>
                        </div> 
                        <br><br>
                        <div class="row justify-content-center">
                           <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Sagittarius" style = "text-decoration: none; !important">  
                            <img src="/static/images/sagittarius.png" alt="Sagittarius" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Sagittarius</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Capricorn" style = "text-decoration: none; !important">  
                            <img src="/static/images/capricorn.png" alt="Capricorn" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Capricorn</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResult/Aquarius" style = "text-decoration: none; !important">  
                            <img src="/static/images/aquarius.png" alt="Aquarius" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Aquarius</small>
                            </a>
                            </div>
                            <div class="col-xs-12  w-25 h-25">
                            <a href="/apps/zodiacResultPisces" style = "text-decoration: none; !important">  
                            <img src="/static/images/pisces.png" alt="Pisces" style="width: 50px; height: 50px; border: none;">
                            <br><small style="color: #fff;">Pisces</small>
                            </a>
                            </div>
                        </div> 
                        <br><br>
                </div>
<!--
            <div class="result mb-2">
                your score result
                <span class="span4"> Your score is </span>
            </div> -->
            <div class="share">
                <div class="mb-2">
                    <span class="span5"> Don't keep all the fun to yourself
                </div>
                <div class="mb-2">
                        <span class="span6">share this with your frnds</span>
                    </span>
                </div>
                <div class="mb-2">
                    <input type="button" class="btn btn-primary" value="Share Now"> </input>
                </div>
            </div>
        </center>
    </body>