<body class="appTray"> 
        <center>
        
            <div class="header">
                <nav class="navbar navbar-light bg-light">
                    <span class="headspan">
                        <a class="navbar-brand" href="#">
                            <img src="/static/images/applogoimg.jpg" width="30" height="30" class="d-inline-block align-top" alt="applogo">
                            CheapThrills.com
                        </a>
                    </span>
                </nav>
            </div>

            <br>
            <br>
            <br>

            <div class="welcome mt-2">
                <p>We Welcome you to our apps created exclusively for our users </p>
            </div>
            <br>
            <div class="ad">
                <!-- advertisement2 -->
            </div>
            <br>
            <div class="quotepage"><div class="card-deck">
                    <div class="card one">
                      <img src="/static/images/motivationimg.jpg" class="card-img-top motivation" alt="motivational image">
                      <div class="card-body">
                            <h5 class="card-title">To Cheer You Up</h5>
                            <p class="card-text"><span class="motivateLine"><p>Know the <span class="span">life changing quote</span> you need to hear <span1 class="span1">NOW</span1> </p></span></p>
                            <form action="/apps/quotes" style="display:inline;">
                              <button class="btn btn-primary" style="text-align: center;">Click here!</button>
                            </form>
                      </div>
                    </div>
                    
                    <div class="card">
                      <img src="/static/images/pubgimg.jpg" class="card-img-top pubg" alt="pubg image">
                      <div class="card-body">
                        <h5 class="card-title">PubG Quiz</h5>
                        <p class="card-text"><span class="pubgLine"><p> pubg's  khiladi??? <span class="span2">Play</span> this pubg quiz Now </p></span></p>
                        <form action="/apps/pubgQuiz" style="display:inline;">
                              <button class="btn btn-primary" style="text-align: center;">Play now!</button>
                        </form>
                      </div>
                    </div>
                    <!-- <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text"><span class="pubgLine"><p> pubg's  khiladi??? <span class="span2">Play</span> this pubg quiz Now </p></span></p>
                        
                      </div>
                    </div> -->
                  </div>

                <br><br>
                  <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <p class="ad"></p>
                          
                        </div>
                        <div class="card-body">
                          <p class="ad"></p>
                          
                        </div>
                      </div>
        </center>
    </body>