
<!-- Navbar -->
<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1 mx-auto text-light">AppName</span>
</nav>
<!-- Navbar -->

<!-- Body -->
<div>
<h1>This is our homepage </h1>
</div>
<!-- Body -->

<!-- Footer -->
<footer class="page-footer font-small text-light bg-dark fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.attainU.com"> AttainU.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
